html, body {
  height: 100%;          
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;     
}

main {
  flex: 1;               
}

.movies-grid {
  display: flex;
  gap: var(--gap-size);
  flex-wrap: wrap;
}

.card-item-results {
  flex: 0 0 auto;
  width: 20vw;
  padding: var(--header-padding);
  background-color: var(--background-light);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.card-item-results:hover {
    transform: translateY(-5px);
    background-color: #252542;
    cursor: pointer;
}

section {
    margin-bottom: 40px;
}

section h2 {
    padding: 20px;
    color: var(--text-color);
}